/*CSS*/

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
}

html{
    font-size: 10px;
    font-family: 'SF Pro Display', sans-serif;
    max-width: 100vw;
    overflow:scroll;
    overflow-x: hidden;  
}
::-webkit-scrollbar{
    width: 0px;
}
#air{
    height: 100vh;
}

body {
    font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: "Apple",sans-serif;
    background-color: #fff;
    color: #ffffff;
    font-style: normal;
    max-width: 100vw;
    
}

a{
    display: block;
    text-decoration: none;
}

.container{
    max-width: 100vw;
    margin: 0 0 0 0;
    padding: 0 2.2rem;
}
.container2{
    max-width: 90vw;
    margin: 0 138px;
    align-items: center;
    align-content: center;
    text-align: center;
    padding: 0 2.2rem;
}
header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1400;
    height: 4.4rem;
    background-color: rgba(0,0,0,.8);
    backdrop-filter: blur(2rem);
}

.nav-list{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-list-mobile{
    display: none;
}

.nav-link{
    font-weight: lighter;
    font-family: sans-serif;
    font-size: 1.15rem;
    letter-spacing: .3px;
    color: rgb(187, 187, 187);
    padding: 0 1rem;
    transition: opacity .5s;
}

.nav-link:hover{
    opacity: .7;
}

.nav-link-apple{
    width: 1.6rem;
    height: 4.4rem;
    background: url("images/icons/apple.svg") center no-repeat;
}

.nav-link-search{
    width: 1.6rem;
    height: 4.4rem;
    background: url("images/icons/search.svg") center no-repeat;
}

.nav-link-bag{
    width: 1.4rem;
    height: 4.4rem;
    background: url("images/icons/bag.svg") center no-repeat;
}

.macbook-air{
    background: url("images-1/hero_macbook_air.png") center no-repeat;
    margin-top: 4.4rem;
    align-items: center;
}

.special{
    max-width: 750px;
    padding-top: 150px;
    display: -moz-grid-line;
    text-align: center;
}
.special-1{
    max-width: 785px;
    text-align: left;
}


.iphone-13{
    background: url("images-1/hero_iphone13.jpg") center no-repeat;
}

.hero{
    height: 68.2rem;
    background-size: auto 60rem;
    background-color: #FBFBFD;
    background-position:bottom;
    background-repeat: no-repeat;
    border-bottom: 1.3rem solid #fff; 
    position: relative;
    overflow: visible;
}
.hero-1{
    background-size: auto 65rem;
    background-position:top;
}

.macbook-air{
    border-top: none;
}

.title{
    color: rgb(32, 32, 32);
    text-align: center;
    padding-top: 13rem;
}

.titleair-heading{
    color: rgb(32, 32, 32);
    padding-top: 5rem;
    font-size: 60px;
    line-height: 1.07143;
    font-weight:normal;
    letter-spacing: -.005em;
    padding-bottom: 15px;
}

p{
    color: #888
}
.title-heading{
    font-size: 56px;
    line-height: 1.07143;
    font-weight:bold;
    letter-spacing: -.005em;
}

.title-sub-heading{
    font-size: 2.65rem;
    margin-top: .6rem;
    letter-spacing: .008rem;
    font-weight: 400;
}
img{
    width: 252px;
    height: 41px;
}
.title-price{
    font-size: 1.9rem;
    color: #888;
    margin-top: .68rem;
}

.cta{
    text-align: center;
    margin-top: 1.8rem;
}

.cta-link{
    color: #06c;
    font-size: 2.1rem;
    display: inline-block;
}

.cta-link:nth-child(2){
    margin-left: 2.6rem;
}

.cta-link:hover{
    border-bottom: 2px solid #06c;
}
.airpods{
    position: relative;
    z-index: -1;
}
.overlay{
    position: absolute;
  align-items: flex-end;
  margin-left: 550px;
  margin-top: 450px;
}
.title1{
    text-align: center;
    padding-top: 5.5rem;
}

.title1-heading{
    font-size: 56px;
    line-height: 1.07143;
    font-weight: 600;
    letter-spacing: -.005em;
}

.title1-sub-heading{
    font-size: 2.65rem;
    padding-top: .6rem;
    letter-spacing: .008rem;
    font-weight: 400;
}
.cta1-link{
    color: #06c;
    font-size: 2.1rem;
    display: inline-block;
}

.cta1-link:nth-child(2){
    margin-left: 2.6rem;
}

.cta1-link:hover{
    border-bottom: 2px solid #06c;
}
.ctaoverlay{
    position: absolute;
  align-items: flex-end;
  margin-left: 570px;
  padding-top: 600px;
}
.hero-big{
    height: 93vh;
    background-repeat: no-repeat;
    background-color: #FBFBFD;
    border-bottom: 1.3rem solid #fff; 
    position: relative;
    margin-left: 19px;
    margin-right: 19px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    column-gap: 20px;
}

.mac-pro{
    background: url("images-1/macpro.jpg") no-repeat center;
    background-size: auto 73.5rem;
    background-position: top;
    display: block;
}
.grid-title{
    text-align: center;
    padding-top: 5rem;
}

.grid-title-heading{
    font-size: 36px;
    font-weight: 600;
    letter-spacing: -.005rem;
}

.grid-title-sub-heading{
    font-size: 2.1rem;
    letter-spacing: .008rem;
    font-weight: 400;
}
.grid-title-price{
    color: #86868b;
    font-size: 1.65rem;
    letter-spacing: .008rem;
    font-weight: 400;
}

.mac-pro-img{
    width: 190px;
    height: 44px;
    align-self: center;
}
.grid-cta{
    text-align: center;
    margin-top: 1rem;
}

.grid-cta-link{
    color: #06c;
    font-size: 1.8rem;
    display: inline-block;
}

.grid-cta-link:nth-child(2){
    margin-left: 2.6rem;
}

.grid-cta-link:hover{
    border-bottom: 2px solid #06c;
}

.iphone-13-pro{
    background: url("images-1/hero_iphone13_pro.jpg") no-repeat center;
    background-size: auto 73.5rem;
    background-position: top;
    display: block;
    color: rgb(27, 27, 27);
}
.watch{
    background: url("images-1/promo_watch.jpg") no-repeat center;
    background-size: auto 73.5rem;
    background-position: top;
    display: block;
    color: rgb(27, 27, 27);
}
.watch-img{
    width: 140px;
    height: 60px;
    align-self: center;
    margin-right: 35px;
}
.appstore-img{ 
    width: 200px;
    height: 40px;
    align-self: center;
    margin-right: 35px;
}
.apple-store{
    background: url("images-1/apple_awards_promo__c6s3k6zxroae_large_2x.jpg") no-repeat center;
    background-size: auto 73.3rem;
    background-position: top;
    display: block;
}
.arcade-img{ 
    width: 160px;
    height: 40px;
    align-self: center;
}
.apple-arcade{
    background: url("images-1/apple_arcade.jpg") no-repeat center;
    background-size: auto 73.3rem;
    background-position: top;
    display: block;
    color: rgb(27, 27, 27);
}
.tv-img{ 
    width: 80px;
    height: 35px;
    align-self: center;
    margin-top: 10px;
}
.tv{
    background: url("images-1/promo_tv.jpg") no-repeat center;
    background-size: auto 73.3rem;
    background-position: top;
    display: block;
    text-align: flex-end;
}
.cta2{
    position: relative;
    display: grid;
  align-items: center;
  padding-top:300px;
  margin-left: 200px;
}
.mars-img{ 
    width: 172px;
    height: 22px;
    margin-left: 55px;
    margin-top: 20px;
    margin-bottom: 15px;
    align-self: center;
    display: block;
}
.mankind-img{ 
    width: 305px;
    margin-top: 100px;
    display: block;
    height: 95px;
    align-self: center;
}

.grid2-title-sub-heading{
    font-size: 1.9rem;
    margin-left: 35px;
    letter-spacing: .008rem;
    font-weight: 400;
    justify-items: start;
}
.playbutton-img{ 
    width: 15px;
    height: 15px;
    justify-self:end;
}
footer{
    width: 100%;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 0;
}

.footer-main{
    width: 950px;
}

.footer-detail{
    font-size: 1.2rem;
    color: #95a5a6;
    padding: 20px 0;
    border-bottom: 1px solid #bdc3c7;
}


.footer-detail a{
    color: #2c3e50 !important;
}

.footer-detail a:hover{
    text-decoration: underline;
}

.footer-welcome{
    display: flex;
    margin: 20px 0;
    font-size: .8rem;
    color: #34495e;
}

.footer-welcome i{
    margin-right: 10px;
}

.footer-ul{
    display: flex;
    width: 70vw;
    justify-content: space-between;
}

.footer-ul ul{
    list-style: none;
}

.footer-ul ul li{
    margin: 7px 0;
    font-size: 1.2rem;
}

.footer-ul ul li h4{
    color: #34495e;
}
.footer-ul a{
    color: #545b63 !important;
}
.footer-ul ul li a:hover{
    text-decoration: 30px;
}

#mt {
  padding-top: 30px;  
}

.footer-contact{
    border-bottom: 1px solid #bdc3c7;
    padding: 12px 0;
    margin: 10px 0;
    color: #7f8c8d;
    font-size: 1.1rem;
    align-content: flex-start;
}

.footer-contact a{
    color: #3498db;
}

.footer-contact a:hover{
    text-decoration: underline;
}

.footer-copyright ul{
    display: flex;
    list-style: none;
    width: auto;
}

.footer-copyright ul li{
    margin: 10px;
}

.footer-copyright ul li a{
    color: #7f8c8d;
}

.footer-copyright ul li a:hover{
    text-decoration: underline;
}

.vr{
    height: 15px;
    width: 1px;
    background: #bdc3c7;
}



.footer-link-special{
    display: inline; 
}